article.contact-container {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #ddd;
  width: 300px;
  font-family: sans-serif;
  background-color: #f5f5f5;
}

article.contact-container .contact-avatar {
  margin-right: 0.7rem;
}
article.contact-container .contact-avatar img {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
article.contact-container .contact-content {
  display: flex;
  flex-direction: column;
}
article.contact-container .contact-name {
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: 5px;
}

article.contact-container .contact-telephone {
  color: #999;
}
.shakerclass {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}